._patients_profile {
    margin-top: 40px;
    margin-left: 20px;
    max-width: 30%;
    border-right: 1px solid #ccc;
    overflow-y: auto;
    border-radius: 16px;
    opacity: 1;

    ._profile {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      
      ._profile li {
        padding: 10px;
        cursor: pointer;
        &:hover {
            background-color: $activestate_bg_2;
          }
      }
      ._Profile-details {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
      }
      
      .profile-text {
        margin-left: 10px;
      }
   

    ul{
        list-style-type: none;
        ._Profile-details{
            display: flex;
        }
    }

      .profile-text{
        display: flex;
        flex-direction: column;
        gap: 5px;
        p{
            margin-left: 10px;
        }
        h3{
            margin-top: 10px;
            margin-left: 10px;
        }
      }
       
        
    
.content {
    display: flex;
    flex: 1;
  }
}

